img {
    height: 300px;
}

h1, h2{
    text-align: center;
}

.clique {
    color:grey;
    text-align: center;
}

body {
    background-color: darksalmon;
}


#object-position {
    object-position: center top;
}